body {
  /*font-family: WalsheimRegular,Helvetica Neue,sans-serif;*/
}

.App {
  text-align: center;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  /*padding: 20px;*/
  color: white;
}

#top-logo {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.App-logo {
  height: 36px;
  vertical-align: middle;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#discount-banner {
  background-color: #ffefee;
  height: 45px;
  line-height: 45px;
  border-bottom: 3px solid #ff5543;
}

#discount-banner > p {
  font-size: 14px;
  letter-spacing: 1px;
  margin: auto;
  text-transform: uppercase;
  color: #fc7368;
  /*line-height: 18px;*/
}

.onboarding-form-block {
  padding: 8px 5px;
}

.onboarding-form-fields {
  margin-left: 36%;
  text-align: left;
}

.onboarding-form-label {
  vertical-align: middle;
  color: #ffc2c2;
  font-size: 21px;
  line-height: 32px;
}

.onboarding-form-block > input {
    /*height: 44px;*/
    /*padding: 26px 12px;*/
    font-size: 14px;
    line-height: 31px;
    color: #ff5543;
    border: none;
    border-bottom: 1px dashed #ff918e;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    font-size: 24px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*body {
  font-family: sans-serif;
}*/

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: white;
  color: #ff5543;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}



